@import 'settings';

.list-testimonials {
    .testimonial-item {
        margin-bottom: 2.73rem;
    }
    
    h2 {
        & .testimonial-title {
            font-family: $body-font-family;
        }
    }
    
    h3 {
        a {
            color: inherit;
        }
    }
    
    .testimonial-content {
        blockquote,
        .wp-block-quote {
            border-left: 3px solid map-get( $foundation-palette, primary );
            &.is-style-large {
                p {
                    font-size: inherit;
                    line-height: $paragraph-lineheight + .2;
                }
            }
        }
    }
}